Package: com.551.pillvolume
Name: PillVolume
Version: 0.1.16
Architecture: iphoneos-arm64
Description: Compact pill volume button.
Maintainer: 551
Author: 551
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
Icon: file:///var/jb/Library/PreferenceLoader/Preferences/PillVolume.png
